h1 h2 {
    color: rgb(25, 0, 139);
    font-size: 60px;
}

body {
    background: #c0f1cb50;
}

table > thead > tr {
    text-align: center;
    color:rgb(181, 235, 174);
    background-color: rgb(49, 43, 43);
    font-weight: bold;
}

/*-- Striped --*/
table > tbody > tr:nth-of-type(even) {
    background-color: rgb(143, 170, 166);
} 

/*-- Table Rows Hover --*/
table > tbody > tr:hover {
    background-color: #ddd;
}

/*-- Borders and padding --*/
table, th, td {
    /* top right bottom left */
    padding: 2px 20px 2px 20px;
    border: 1px solid rgb(84, 122, 158)
}


