{% extends 'base.html' %}

{% block content %}

{% if name %}

<h2>User Entry 1</h2>
<form method="POST">
    <!-- MUST use POST. GET will not work -->
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="form-group col-md-3">
            {{ form.name.label(class='form-label') }}
            {{ form.name(class='form-control') }}
        </div>
        <div class="form-group col-md-3">
            {{ form.email.label(class='form-label') }}
            {{ form.email(class='form-control', type='email') }}
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ form.password_hash.label(class='form-label') }}
                {{ form.password_hash(class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ form.password_hash2.label(class='form-label') }}     
                {{ form.password_hash2(class='form-control') }}
            </div>
        </div>

    </div>

    <br />
    {{ form.submit(class='btn btn-secondary') }}

</form>

<br /><br />
<h2>User List:</h2>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Create Time (UTC)</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        {% for user in our_users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{user.email}}</td>
            <td>{{ user.date_added.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td><a href='{{ url_for("update", id=user.id) }}'><img src='/static/images/icons/edit_icon.png' width="50%"
                        height="50%" /></a> </td>
            <td><a href='{{ url_for("delete", id=user.id) }}'><img src='/static/images/icons/delete_icon.png'
                        width="50%" height="50%" /></a> </td>>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<h2>User Entry 2</h2>
<form method="POST">
    <!-- MUST use POST. GET will not work -->
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="form-group col-md-3">
            {{ form.name.label(class='form-label') }}
            {{ form.name(class='form-control') }}
        </div>
        <div class="form-group col-md-3">
            {{ form.email.label(class='form-label') }}
            {{ form.email(class='form-control', type='email') }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            {{ form.password_hash.label(class='form-label') }}
            {{ form.password_hash(class='form-control') }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            {{ form.password_hash2.label(class='form-label') }}
            {{ form.password_hash2(class='form-control') }}
        </div>
    </div>

    <br />
    {{ form.submit(class='btn btn-secondary') }}

    <br /><br />
    <h2>User List:</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Create Time (UTC)</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in our_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{user.email}}</td>
                <td>{{ user.date_added.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td><a href='{{ url_for("update", id=user.id) }}'><img src='/static/images/icons/edit_icon.png'
                            width="50%" height="50%" /></a> </td>
                <td><a href='{{ url_for("delete", id=user.id) }}'><img src='/static/images/icons/delete_icon.png'
                            width="50%" height="50%" /></a> </td>>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% endblock %}